@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html, body{
  position: relative;
  margin: 0;
  border: 0;
  padding; 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html{
  display: block;
  height: auto;
  margin: auto;
  overflow: scroll;
}
body{
  min-height: 101%;
  margin: auto;
  overflow: scroll;
}
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
  margin-top: 4px;
}
img{
  padding: 5px;
  width: 120px;
}
.logout{
  position: absolute;
  right: 1%;
  top: 7%;
}
.admin{
  position: absolute;
  left: -64%;
  top: 5%;
}
.sidebar{
  position: absolute;
  padding: 15px;
  background: #d3d2d5;
  left: 0%;
  right: 81%;
  top: 110%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 3, 0.2), 0 10px 8px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.banner{
  font-family: "arial black";
  position: fixed;
  color: black;
  right: 10%;
  top: 18px;
  background: #dad5d1;
  width: 80%;
  height: 50px;
  max-width: auto;
  text-align: justify;
  padding: 15px;
  text-shadow: 1px 1px 4px #e9eef2;
  box-shadow: 0 0 20px 0 rgba(0, 0, 3, 0.2), 0 10px 8px 0 rgba(0, 0, 0, 0.24);
  font-size: 22px;
}
.username{
  font-family: "Roboto", sans-serif;
  position: absolute;
  color: white;
  right: 120%;
  top: -4%;
  background: #6495ed;
  background-image: radial-gradient(#1c84d6 40%,#1f89de);
  width: 200px;
  text-align: center;
  padding: 25px;
  text-shadow: 1px 1px 4px #000000;
  box-shadow: 0 0 20px 0 rgba(0, 0, 3, 0.2), 0 10px 8px 0 rgba(0, 0, 0, 0.24);
  font-size: 18px;
}
.main{
  position: absolute;
  padding: 15px;
  background: #e1e1e1;
  height: auto;
  top: 110%;
  left: 20%;
  right: 0%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 3, 0.2), 0 10px 8px 0 rgba(0, 0, 0, 0.24);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.welcome-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.welcome-page .form .welcome{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formlarge {
  font-family: "Roboto", sans-serif;
  align: center;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  background: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.logout .username button {
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 25px;
  background: #6495ed;
  color: #ffffff;
  font-size: 14px;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}
.logout button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #ababab;
  width: 100%;
  border: 0;
  padding: 25px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.logout .admin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6495ed;
  background-color: #333333;
  width: 100%;
  border: 0;
  padding: 25px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.sidebar button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 3px;
  color: white;
  background: #636279;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.sidebar button:hover{
  color: #c2c67f;
}
.logout button:hover{
  color: black;
}
input[type=reset]{
  color: #f0f8ff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #a9a9a9;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}
input[type=submit]{
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #6495ed;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 22px;
}
.error{
  color: red;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.formlarge .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 18px;
}
.formlarge .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  overflow: auto;
  min-height: 100vh;
  background-color: #368f8a;
  background-image: linear-gradient(75deg,#d2691e,#8a2be2);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
